@import "../node_modules/@syncfusion/ej2-react-diagrams/styles/material.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* #NewIdea_groupElement:hover , #NewIdea_groupElement:hover *{
  stroke: green;
}
#NewIdea_groupElement:hover text {
  fill: green !important;
} */
/* #NewIdea2_groupElement,#NewIdea2_groupElement:hover * {
  stroke: yellow !important;
}
#NewIdea2_groupElement:hover text {
  fill: yellow !important;
}

#NewIdea3_groupElement,#NewIdea3_groupElement:hover * {
  stroke: blue;
}
#NewIdea3_groupElement:hover text {
  fill: blue !important;
}

#NewIdea4_groupElement,#NewIdea4_groupElement:hover *{
  stroke: pink;
}
#NewIdea4_groupElement:hover text {
  fill: pink !important;
}

#NewIdea6_groupElement,#NewIdea6_groupElement:hover *{
  stroke: purple;
} 
#NewIdea6_groupElement:hover text {
  fill: purple !important;
}  */



